<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;justify-content: center;">
        <div style="display: flex;justify-content: center; width: 100%;">
            <form method="post" action="">
                <h1>words</h1>
                <label for="word">Word</label>
                <input style="width:90%;margin:10px" type="text" name="" id="word">
                <br>
                <label for="meaning">Meaning</label>
                <input style="width:90%;margin:10px" type="text" name="" id="meaning">
                <br>
                <label for="pronunciation">Pronunciation</label>
                <input style="width:90%;margin:10px" type="text" name="" id="pronunciation">
                <br>
                <label for="example">Example</label>
                <input style="width:90%;margin:10px" type="text" name="" id="example">
                <br>
                <label for="extra">Extra</label>
                <input style="width:90%;margin:10px" type="text" name="" id="extra">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div style="display: flex;justify-content: center; width: 100%;">
            <form method="post" action="">
                <h1>Sentences</h1>
                <label for="sentence">Sentence</label>
                <input style="width:90%;margin:10px" type="text" name="" id="sentence">
                <br>
                <label for="extra">Extra</label>
                <input style="width:90%;margin:10px" type="text" name="" id="extra">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>